In [1]:
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
import time

ModuleNotFoundError: ignored

In [2]:
!pip install alpha_vantage

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting alpha_vantage
  Downloading alpha_vantage-2.3.1-py3-none-any.whl (31 kB)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.7/dist-packages (from alpha_vantage) (3.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from alpha_vantage) (2.23.0)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->alpha_vantage) (0.13.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->alpha_vantage) (2.1.1)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp->alpha_vantage) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->alpha_vantage) (22.1.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->alpha_vantage) (1.8.1)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp->alpha_vantage) (4.1.1)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp->alpha_vantage) (4.0.2)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp->alpha_vantage) (1.2.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->alpha_vantage) (6.0.2)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp->alpha_vantage) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->alpha_vantage) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->alpha_vantage) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->alpha_vantage) (1.24.3)
Installing collected packages: alpha-vantage
Successfully installed alpha-vantage-2.3.1

In [12]:
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
import time

In [13]:
api_key="A78UC8RD7BHJEI0J"

In [14]:
ts=TimeSeries(key=api_key,output_format="pandas")

In [16]:
data, meta_data = ts.get_intraday(symbol='MSFT', interval = '1min', outputsize = 'full')

In [17]:
data.describe()

           1. open      2. high       3. low     4. close     5. volume
count  5249.000000  5249.000000  5249.000000  5249.000000  5.249000e+03
mean    263.312972   263.413919   263.210730   263.309659  3.231739e+04
std       7.303801     7.301473     7.309023     7.301288  6.831548e+04
min     251.970000   252.170000   251.940000   251.970000  1.000000e+02
25%     257.140000   257.280000   257.030000   257.130000  1.848000e+03
50%     262.530000   262.680000   262.419400   262.530000  2.254800e+04
75%     266.365000   266.490000   266.180000   266.340000  4.036100e+04
max     280.700000   280.700000   280.600000   280.700000  1.967916e+06

In [18]:
print(data)

                     1. open  2. high  3. low  4. close  5. volume
date
2022-09-07 20:00:00   258.12   258.12  258.12    258.12      296.0
2022-09-07 19:59:00   258.12   258.12  258.12    258.12      383.0
2022-09-07 19:55:00   258.17   258.17  258.15    258.15      262.0
2022-09-07 19:52:00   258.15   258.15  258.15    258.15      210.0
2022-09-07 19:48:00   258.17   258.17  258.17    258.17      536.0
...                      ...      ...     ...       ...        ...
2022-08-25 05:03:00   278.37   278.37  278.37    278.37      804.0
2022-08-25 04:28:00   278.22   278.22  278.22    278.22      131.0
2022-08-25 04:18:00   278.18   278.18  278.18    278.18      130.0
2022-08-25 04:16:00   278.22   278.22  278.22    278.22      367.0
2022-08-25 04:12:00   278.37   278.37  278.37    278.37      508.0

[5249 rows x 5 columns]

In [20]:
close_data=data['4. close']

In [21]:
percent_change=close_data.pct_change()

In [22]:
print(percent_change)

date
2022-09-07 20:00:00         NaN
2022-09-07 19:59:00    0.000000
2022-09-07 19:55:00    0.000116
2022-09-07 19:52:00    0.000000
2022-09-07 19:48:00    0.000077
                         ...
2022-08-25 05:03:00    0.000072
2022-08-25 04:28:00   -0.000539
2022-08-25 04:18:00   -0.000144
2022-08-25 04:16:00    0.000144
2022-08-25 04:12:00    0.000539
Name: 4. close, Length: 5249, dtype: float64

In [23]:
last_change=percent_change[-1]

In [26]:
if abs(last_change)>0.00004:
  print("MSFT Alert  "+ str(last_change))

MSFT Alert  0.0005391416864350962

In [27]:
data.to_excel("Output.xlsx")

In [ ]:
data